{% extends "base.html" %}

{% block content %}
<h1>Миссия Колонизация Марса</h1>
<h4>И на Марсе будут яблони цвести!</h4>

<h1>Список профессий</h1>
{% set user_list = ['инженер-исследователь', 'пилот', 'строитель', 'экзобиолог', 'врач',
'инженер по терраформированию', 'климатолог', 'специалист по радиационной защите', 'астрогеолог', 'метеоролог',
'оператор марсохода', 'киберинженер', 'штурман', 'пилот дронов'] %}
<ul>
{% if ol %}
        {% for user in user_list %}
        {{ loop.index }}. {{ user }}</br>
        {% endfor %}
{% elif ul %}
        {% for user in user_list %}
        <li>{{ user }}</li>
        {% endfor %}
{% endif %}
</ul>
{% endblock %}